<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Aplicativo Web AC04</h1>
        <strong><nav>
          <p>Alunos:</p>
          <ul class="menu">
            <li>Cauê Gallizzi de Paula</li>
            <li>Gustavo Lucas do Santos</li>
            <li>Welisson Domingues da Conceição</li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      <h1>Título</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti error rerum inventore ut voluptates impedit aut dolores veniam aspernatur harum.</p>
    </div>
    
{% block content %}
{% endblock %}

 </body>
</html>